<% content_for :main do %>
    <div class="container">

      <!-- Blocks -->
      <div class="row blocks five">
        <div class="offset1 span5">
          <h1>Five blocks.</h1>
          <p>Macon’s Five By Five program is a simple idea: take five blocks in a blighted neighborhood of town and use every city department and willing volunteer to help clean up the area in a five week period.</p>
          <p>From mowing public property, to installing smoke detectors, fixing potholes, meeting with neighborhood groups, boarding up vacant housing, repairing broken street lights, and sweeping streets, all work is done within the city budget.</p>
          <p>Much of the focus in the five weeks is put on establishing connections with those in the neighborhood. Sustainability within the area is key, and can only be done by reaching out with community partners such as church groups and local leaders.</p>
        </div>

        <div class="span5">
          <img src="/img/blocks.png" alt="Five blocks" />
        </div>
      </div>

      <!-- Weeks -->
      <div class="row weeks five">
        <div class="offset1 span5">
          <h1>Five weeks.</h1>
          <p>After the five weeks, another area within a different ward will be targeted. Since Macon is comprised of five total wards, it takes approximately 6 months before the same ward is targeted again. From the time the Five By Five plan started in early November and ended in December, over <a href="http://www.macon.com/2011/12/19/1829981/first-five-block-project-ends.html">18,000 pounds of debris</a> had been cleared from the original test area in Ward 1.</p>
          <p>And, while Macon city employees can help patch roads, trim overhanging trees, and clean gutters and right-of-ways, it’s up to residents and volunteers in the community to help clear debris from private property and empty lots. According to Laura Jackson, Program Coordinator at <a href="http://www.kmbbc.org/">Keep Macon-Bibb Beautiful</a>, over 350 volunteers showed up during the course of the first Five By Five.</p>
        </div>

        <div class="span5">
          <img src="/img/weeks.png" alt="Five weeks" />
        </div>
      </div>


      <!-- Wards -->
      <div class="row wards five">
        <div class="offset1 span5">
          <h1>Five wards.</h1>
          <p>Donec id elit non mi porta gravida at eget metus. Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Nullam quis risus eget urna mollis ornare vel eu leo. Vestibulum id ligula porta felis euismod semper. Nullam quis risus eget urna mollis ornare vel eu leo.</p>
          <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
          <p>Donec id elit non mi porta gravida at eget metus. Etiam porta sem malesuada magna mollis euismod. Maecenas faucibus mollis interdum. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.</p>
        </div>

        <div class="span5">
          <img src="/img/wards.png" alt="Five wards" />
        </div>
     </div>

  </div>
<% end %>


<% content_for :footer do %>
  <div class="container">
    <div class="row">

      <div class="span2 offset2">
        <a href="http://www.facebook.com/mayorreichert" title="Facebook">
          <img src="/img/facebook.png" alt="Mayor Reichert Facebook" />
        </a>
      </div>

      <div class="span2">
        <a href="http://twitter.com/mayorreichert" title="Twitter">
          <img src="/img/twitter.png" alt="Mayor Reichert Twitter" />
        </a>
      </div>

      <div class="span2">
        <a href="http://maconga.gov" title="Macon, GA">
          <img src="/img/cityhall.png" alt="Macon, GA website" />
        </a>
      </div>

      <div class="span2">
        <a href="http://codeforamerica.org" rel="tooltip" title="Code for America">
          <img src="/img/cfa.png" alt="Code for America" />
        </a>
      </div>

    </div>
  </div>
<% end %>
