@import "less/mixins.less";

@blue: #7fb6dc;
@purple: #b081d9;

body{
    #gradient > .vertical(#69a5d7, #508fc6);
    border-top: 6px solid #3573b3;
    color: #eee;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
}

h1{
    color: #eee;
    font-family: "Oswald", sans-serif;
    font-size: 90px;
    line-height: 110%;
    margin-bottom: 25px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, .25);
    text-transform: uppercase;
    width: 75%;
}

p{
    margin-bottom: 15px;
}

.five{
    padding: 125px 0;
}

.span5 img{
    margin-top: 25%;
}

/* Landscape phones and down */
@media (max-width: 480px) {
    h1{
        font-size: 82px;
    }
    .five{
        padding: 25px 0;
    }
    .span5 img{
        margin-top: 0;
    }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    .five{
        padding: 50px 0;
    }
    .span5 img{
        margin-top: 0;
    }
    .wards img{
        margin-top: 25px;
    }
}

@media (max-width: 979px) and (min-width: 768px){
    .span5 img{
        margin-top: 65%;
    }
}

@media (min-width: 1200px) {
    .span5 img{
        margin-top: 0;
    }
}
